<mat-card>
  <div class="article-container">

      <div class="content-spacing">
        <p>Listed below is some of the cures being hidden/suppressed by the Satanist controlled medical establishment
        </p>
      </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <h1 class="text-align-center satan-header">Cancer the forbidden cures</h1>

      <iframe width="640" height="360" scrolling="no" frameborder="0" style="border: none;" src="https://www.bitchute.com/embed/mugee0sjo5nx/"></iframe>

      <h1 class="text-align-center satan-header">Cancer cured with the rife frequency</h1>
      <iframe width="640" height="360" scrolling="no" frameborder="0" style="border: none;"
        src="https://www.bitchute.com/embed/3LVEHDF3F0WL/"></iframe>

    </div>

 

  </div>
</mat-card>
