<mat-card>
  <div class="article-container">

    <div class="content-spacing">

      <h1>Please download and print these flyers to distribute to everyone you know</h1>

      <p>Click on the image to open in new tab
      </p>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center">

        <iframe width="640" height="360" scrolling="no" frameborder="0" style="border: none;"
        src="https://www.tiktok.com/@truthndbeyond/video/7219447476300827930?is_from_webapp=1&sender_device=pc"></iframe>

        https://www.tiktok.com/@truthndbeyond/video/7219447476300827930?is_from_webapp=1&sender_device=pc

    </div>
  </div>
</mat-card>
