.celebrity-container {
img  {
  width: 100%;
  max-width: 600px;
  max-height: 400px;
}
}



video {
  max-width: 900px;
  width: 100%;
  margin: 10px;
}

.text-align-end {
  text-align: end;
}

.text-align-center {
  text-align: center;
}

h1 {
  text-align: center;
  font-family: 'StanFont';
}

.content-spacing {
  margin: 40px 0;
}

.article-header {


  span {
    color: #9e4031;
  }
}

$textSize: 66px;

.satan-header {
  font-size: $textSize;
  line-height: $textSize;
  font-family: 'StanFont';
}

p {
  font-size: 22px;
  line-height: normal;
}

.their-god-container {
  img {
    max-width: 600px;
    width: 100%;
  }
}

.freemasonry-container {
  iframe {
    width: 100%;
    max-width: 600px;
  }

}

.jesus-quote {
  font-size: 50px;
}

.group-container {
  font-size: 22px;
}

@media screen and (max-width: 800px) {
  .satan-header {
    font-size: 32px;
    line-height: 32px;
  }

  .satan-logo {
    width: 60px;
  }
}
