.celebrity-container {
  img {
    width: auto;
    max-height: 400px;
  }
}



video {
  max-width: 900px;
  width: 100%;
  margin: 10px;
}

.text-align-end {
  text-align: end;
}

.text-align-center {
  text-align: center;
}

h1 {
  text-align: center;
  font-family: 'SatanFont';
}

.content-spacing {
  margin: 40px 0;
}

.article-header {


  span {
    color: #9e4031;
  }
}

$textSize: 66px;

.satan-header {
  font-size: $textSize;
  line-height: $textSize;
  font-family: 'SatanFont';
}

p {
  font-size: 22px;
  line-height: normal;
}

.their-god-container {
  img {
    max-width: 600px;
  }
}
